* {
    font-family: Helvetica, sans-serif;
}

a {
    text-decoration-line: none;
}

.navlink a {
    color: white;
}

body {
    margin: 0px;
}

.header {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 20px 200px;
}

.navlink {
    display: flex;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
    gap: 20px;
}

.logo {
    margin: 0px;
    font-weight: bold;
    font-size: 25px;
}


.intro-image {
    width: 500px;
    height: 250px;
}

.product-image {
    width: 100px;
    height: 100px;
}