* {
    font-family: 'Roboto', Helvetica, sans-serif;
}

a {
    text-decoration-line: none;
    font-size: 18px;
}

h2 {
    font-size: 30px;
    margin: 0px;
}

body {
    margin: 0px;
}

.header, .section-1, .section-5  {
    color: white;
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 200px;
}

.navlink {
    display: flex;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
    gap: 20px;
}

.navlink a {
    color: white;
}

.logo {
    margin: 0px;
    font-weight: bold;
    font-size: 24px;
}

.section-1 {
    padding: 70px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.section-1 h1 {
    margin: 0px;
    font-size: 48px;
}

.intro-container {
    flex: 1;
}

.intro-container p {
    font-size: 18px;
}

.intro-image {
    flex: 1;
    max-width: 50%;
}

.signup-btn {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 7px 30px;
    border: none;
    border-radius: 5px;
}

.section-2 {
    padding: 30px 200px 60px;
}

.section-heading {
    text-align: center;
    margin-bottom: 50px;
}

.products-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.product-container {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-container p {
    text-align: center;
    color: #1f2937;
}

.product-image {
    width: 150px;
    height: 150px;
    border-radius: 10%;
}

.section-3 {
    padding: 70px 300px;
    background-color: #e5e7eb;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    text-align: justify;
}

.quote-author {
    text-align: right;
    font-size: 27px;
    font-weight: bold;
}

.section-4 {
    padding: 100px 200px;
}

.white-border-btn {
    border: 2px solid white;
}

.action-container {
    padding: 50px 130px;
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-description {
    margin-top: 5px;
    margin-bottom: 0px;
}

.action-heading {
    font-size: 25px;
}

.section-5 {
    padding: 25px 30px;
    text-align: center;
}