* {
    font-family: Helvetica, sans-serif;
}

a {
    text-decoration-line: none;
    font-size: 18px;
}

.navlink a {
    color: white;
}

body {
    margin: 0px;
}

.header, .section-1 {
    color: white;
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 200px;
}

.navlink {
    display: flex;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
    gap: 20px;
}

.logo {
    margin: 0px;
    font-weight: bold;
    font-size: 24px;
}

.section-1 {
    padding: 70px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.section-1 h1 {
    margin: 0px;
    font-size: 48px;
}

.intro-container {
    flex: 1;
}

.intro-container p {
    font-size: 18px;
}

.intro-image {
    flex: 1;
    max-width: 50%;
}

.signup-btn {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 7px 30px;
    border: none;
    border-radius: 5px;
}

.product-image {
    width: 100px;
    height: 100px;
}